<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{/fragments/navigation}"></nav>
</div>


<div class="container">
    <h2 class="text-center text-white">Create Dog</h2>
    <form th:method="POST"
          th:action="@{/dogs/new}"
          th:object="${dogAddDto}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">


        <div class="row">
            <div class="form-group col-md-6 mb-3">

                <label th:for="name"
                       class="text-white font-weight-bold">Dog Name</label>

                <input type="text"
                       th:field="*{name}"
                       class="form-control"
                       placeholder="Length between 3 and 80 letters!"
                />

                <p th:if="${#fields.hasErrors('name')}"
                   class="errors alert alert-danger">
                    Valid Dog name is required.
                </p>

            </div>


            <div class="form-group col-md-6 mb-3">

                <label th:for="age"
                       class="text-white font-weight-bold">Dog Age</label>

                <input th:field="*{age}"
                       class="form-control"
                       placeholder="Dog age"
                />

                <p th:if="${#fields.hasErrors('age')}"
                   class="errors alert alert-danger">
                    Dog age is required.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="gender">Gender</label>
                <select th:field="*{gender}" id="gender" name="gender" class="custom-select">
                    <option value="Male" selected>Male</option>
                    <option value="Female">Female</option>
                </select>

            </div>
            <div class="form-group col-md-6 mb-3">

                <label th:for="kennelCountry"
                       class="text-white font-weight-bold">Kennel's Country</label>

                <input th:field="*{kennelCountry}"
                       class="form-control"
                       placeholder="Length between 3 and 20 letters!"
                />

                <p th:if="${#fields.hasErrors('kennelCountry')}"
                   class="errors alert alert-danger">
                    Valid kennel country name is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">

                <label th:for="kennelName"
                       class="text-white font-weight-bold">Kennel Name</label>

                <input type="text"
                       th:field="*{kennelName}"
                       class="form-control"
                       placeholder="Length between 5 and 80 letters!"
                />

                <p th:if="${#fields.hasErrors('kennelName')}"
                   class="errors alert alert-danger">
                    Valid kennel name is required.
                </p>

            </div>


            <div class="form-group col-md-6 mb-3">

                <label th:for="kennelEmail"
                       class="text-white font-weight-bold">Kennel email</label>

                <input th:field="*{kennelEmail}"
                       class="form-control"
                       placeholder="example@example.com"
                />

                <p th:if="${#fields.hasErrors('kennelEmail')}"
                   class="errors alert alert-danger">
                    Valid kennel email is required.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Create Dog"/>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>
