<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{/fragments/navigation}"></nav>
</div>

<div class="container">
    <h2 class="text-center text-white">Create Kennel</h2>
    <form th:method="POST"
          th:action="@{/kennels/new}"
          th:object="${kennelAddDto}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">


        <div class="row">
            <div class="form-group col-md-6 mb-3">

                <label th:for="name"
                       class="text-white font-weight-bold">Kennel Name</label>

                <input type="text"
                       th:field="*{name}"
                       class="form-control"
                       placeholder="Length between 5 and 80 letters!"
                />

                <p th:if="${#fields.hasErrors('name')}"
                   class="errors alert alert-danger">
                    Valid Kennel name is required.
                </p>

            </div>


            <div class="form-group col-md-6 mb-3">

                <label th:for="email"
                       class="text-white font-weight-bold">Kennel Email</label>

                <input th:field="*{email}"
                       class="form-control"
                       placeholder="example@example.com"
                />

                <p th:if="${#fields.hasErrors('email')}"
                   class="errors alert alert-danger">
                    Valid kennel email is required.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">

                <label th:for="countryName"
                       class="text-white font-weight-bold">Kennels Country Name</label>

                <input th:field="*{countryName}"
                       class="form-control"
                       placeholder="Length between 3 and 20 letters!"
                />

                <p th:if="${#fields.hasErrors('countryName')}"
                   class="errors alert alert-danger">
                    Valid kennel country name is required.
                </p>
            </div>
        </div>


        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Create Kennel"/>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>