<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{/fragments/navigation}"></nav>
</div>


<div class="container-fluid">
    <h2 class="text-center text-white mt-5">All Kennels</h2>
    <div
            th:each="kennel: ${kennels}"
            th:object="${kennel}"
            class="offers row mx-auto d-flex flex-row justify-content-center">
        <div class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">

            <div class="card-body pb-1">
                <h5 class="card-title">Kennel Summary</h5>
            </div>
            <ul class="dog-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text">• Kennel Name
                        <th:block th:text="*{name}"></th:block>
                    </div>
                    <div class="card-text">• Kennel Country
                        <th:block th:text="*{countryName}"></th:block>
                    </div>

                </li>
            </ul>
            <div class="card-body">
                <a class="card-link" th:href="@{/kennels/{id}(id=*{id})}">Details</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
